html {
  font-size: 62.5%;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  display: none;
  width: 0px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Open Sans Condensed', sans-serif;
}

a{
  margin-left: 3px;
  font-family: 'Nimbus Sans', sans-serif;
  color: rgba(66, 133, 244, 1);
}

@font-face {
  font-family: 'Billabong';
  src: local('Billabong'), url(./assets/fonts/Billabong.ttf) format('ttf');
}
.Toastify__toast-body {
  font-family: 'Open Sans Condensed', sans-serif !important;
  font-weight: 400 !important;
  font-size: 1.6rem !important;
}

#theme-light,
#theme-dark,
#send_file {
  display: none;
}

p{
  margin: 0;
  padding:0;
}
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms;

}